*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
  
    background: #ffffff;
    padding-top: 160px;
}

.logotipo img{
    float: left;
    padding: 8px;
}

#busqueda{
   
    float: left;
    margin-top: 15px;
    margin-left: 30px;
    padding: 5px;
}

input{
    width: 550px;
    padding: 10px;
    border-radius: 20px;
    border: solid #F5F5F5;
}

button{
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    
}

header{

    width: 100%;
    height: 150px;
    text-align: center;
    background: #ffffff;
    position: fixed;
    top: 0;
}

.login {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    width: 200px;
    padding: 10px 20px;
    display: block;
    position: relative;
    height: 26px;
 }

 .login img{
    float: left;
 }

 .login .enlace{
    display: block;
    color: #787878;
    text-align: center;
    text-decoration: none;
    padding: 5px 0px;
    margin-left: 50px; 
    border-radius: 8px;
    border: #787878 1px solid;
    width: 140px;
    height: 20px; 
  }
  
  .login a:hover {
    color: #E8E8E8;
    cursor:pointer;
  }

.navegacion{
    
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    background: #F75C00;
}

.navegacion ul{
    
    list-style: none;
}
.menu > li {
    
    display: inline-block;
    padding: 10px 15px;
    line-height: 1;
    border-radius: 5xp;
}

.menu > li > a{
    
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
    padding: 10px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.menu li a:hover{
   
    background: #b89898ce;
}

.submenu{
    
    position: absolute;
    background: #ffffff;
    width: 50%;
    display: none;
}

.submenu li a{
   
    display: block;
    padding: 10px 15px;
    color: #262626;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    text-align: left;
}

.menu li:hover .submenu{
    
    display: block;
}

.contenedor{
    width: 97%;
    margin: auto;
    padding: 15px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    }

.contenedor>#promociones,
.contenedor>#medicina{
    height: 20em;
    }

.contenedor .article{
    margin: 15px;
}

.contenedor .article a{
    text-decoration: none;
    color: #009E0F;
    font-weight: bold;
    font-size: 1.3em; 
}

.contenedor .caja{
    float: left;
    margin: 20px 25px;  
    padding: 20px;
    border: black solid 1px;
    width: auto;
    background: #009E0F;
}

.contenedor .caja a{  
    text-decoration: none; 
    color: black;
}

.contenedor .com{
    background-color: #0087D2;
    width: auto;
    padding: 10px;
    border:  #0087D2 1px solid;
    border-radius: 8px;
    text-align: center;
}

.contenedor> #promociones .caja{
    float: left;
    margin: 0px 25px;  
    padding: 10px;

}

#voluntariado{
    width: 97%;
    margin: 15px auto;
    padding: 15px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#voluntariado .community a{
    text-decoration: none;
    color: #0087D2;
    font-weight: bold;
    font-size: 1.3em;
}

#voluntariado .community .caja2{
    float: left;
    margin: 20px 25px;  
    padding: 20px;
    border: black solid 1px;
    width: auto;
}

#voluntariado .community .caja2 p{  
    text-decoration: none; 
    color: black;
    font-weight: bold;
}

footer{
    background: #F75C00;
    padding: 20px;
}

footer .end{
    width: 97%;
    margin: 15px auto;
    padding: 15px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}


footer .end a{
    padding: 10px 60px;
    margin-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}