body {
    font: 15px Arial,Helvetica,sans-serif ; 
    padding: 0;
    margin: 0;
    background-color: floralwhite;
    }
    
    .contenedor{
    width: 80%;
    margin: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 80px;
    padding-right: 40px;
    overflow: hidden;
    }
    
    ul{
        margin: 20;
        padding: 0;
    }
    
    
    header{
        background-color: #009E0F;
        color: snow;
        padding-top: 30px;
    
    }


    #menu{
        margin: auto;
        width: 500px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    } 
    
    ul, ol{
        list-style: none;
    }
    
    .nav{
        width: 500px;
        margin: auto; 
    }
    
    .nav > li {
        float: left;
        
    }
    
    .nav li a {
        background-color:#009E0F;
        color: #fff;
        text-decoration: none;
        padding: 10px 12px;
        display: block;
    }
    
    .nav li a:hover{
        background-color: #434343;
    }
    
    .nav li ul{
        display: none;
        position: absolute;
        min-width: 140px;
    }
    
    .nav li:hover > ul{
        display: block;
    }

    .nav li ul li{
        position: relative;

    }
    
    .nav li ul li ul{
        right: -140px;
        top: 0px;
    }


    footer{
        background-color: #009E0F;
        padding-top: 1px;
        padding-bottom: 25px;
    }

    footer a{
        color: rgb(8, 8, 8);
        text-decoration: none;
        text-transform: uppercase;   
    }

    nav ul p{
    list-style: none;
    display: inline-block;
    }