body{
    background: #F6F6F6;
}

.vista{
    margin-left: 25px;
    margin-right: 0px;
    width: 130px;
}

.contenedor{
    border: black solid 1px;
    width: 25%;
    margin: auto;
    padding: 20px;
    margin-bottom: 25px;
    overflow: hidden;
    font-family: 'Arial Nova Cond';
    background-color: lavender;
    border-radius: 10px;
}

.contenedor p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.row{
    padding: 15px;
    width: 280px;
}

.container{
    width: 280px;
    border-radius: 4px;
    height: 10px;
    color: black;
}

#message{
    width: 310px;
    border-radius: 4px ;
    color: black;
}

#submit_button{
    width: 280px;
    height: 50px;
    margin-left: 30px;
    background: rgb(241,199,57);
    background: linear-gradient(90deg, rgba(241,199,57,1) 23%, rgba(255,166,22,1) 50%, rgba(231,164,112,1) 100%);
    color: blanchedalmond;
    font-size: 15px;
}

















