.caja > p{
    text-align: center;
    font-weight: bold;
    font-family: 'calibri';
    margin: 1em;
    font-size: 20px;
    text-align: left;
}

.imginicio {
    border-radius: 10px;
    border: solid 1px black;
    width: 30%;
    height: 360px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    font-family: 'calibri';
}

.boton{
    border: black 1px solid;
    padding: auto;
    height: 100px;
}

.caja button{
    margin-top: 10px;
    width: 383px;
    height: 50px;
    padding: 1em;
    border-radius: 50px;
    text-align: center;
}

.fb{
    background-color: #1877F2;
    margin: 0.5em;
}

.fb p{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.gle{
    margin: 0.5em;
    background-color: #ffffff;
    border: 2px solid #F5F5F5;
}

.gle p{
    color: #393D40;
    font-size: 19px;
    font-weight: bold;
}

.correotitulo{
    background-color: #E5EAE4;
    border-radius: 50px;
    width: 348px;
    height: 20px;
    padding: 1em;
    margin: 0.5em;
    text-align: center;
}

.correotitulo a{
    
    text-decoration: none;
    font-family: 'calibri';
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.new, .find{
    text-align: center;
    margin-top: 20px;
}

.new a, .find a{
    text-decoration: none;
    color: #F75C00;
    
}



